.homeBody {
    color: whitesmoke;
    width: fit-content;
    right: -60%;
    top: 20%;
    position: relative;
    bottom: 0;
    background-image: linear-gradient(
60deg
, rgba(231, 24, 96, 0.9), rgba(231, 160, 50, 0.9));
// color: whitesmoke;
//     width: fit-content;
//     /* height: 80%; */
//     left: 60%;
//     top: 20%;
//     position: relative;
//     bottom: 0;
//     background-image: linear-gradient(
// 60deg
// , rgba(231, 24, 96, 0.9), rgba(231, 160, 50, 0.9));
// }
}
.homeHeader {
    color: whitesmoke;
    top: 12%;
    width: 95%;
    height: 30%;
    position: absolute;
    /* bottom: auto; */
    background-image: linear-gradient(
60deg
, rgba(196, 100, 133, 0.9), rgba(120, 134, 133, 0.904));

}
