{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/restrict-template-expressions": [
      2,
      {
        "allowNumber": true, // Numbers get coerced to strings 👍
        "allowBoolean": false, // This would be rare to print a boolean and more likely a mistake
        "allowNullish": false // This prints "null", "undefined", and other undesirable cases
      }
    ],
    "prettier/prettier": [
      "error", { "endOfLine": "auto" }
    ]   
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["off"],
        "@typescript-eslint/no-explicit-any": ["off"]
      }
    },
    {
      // enable the rule specifically for JavaScript files
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": ["off"],
        "@typescript-eslint/no-explicit-any": ["off"],
        "@typescript-eslint/explicit-function-return-type": ["off"]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
