.aboutBody {
  color: whitesmoke;

  width: 100%;
  height: 100vh;
  background-color: #212122 !important;
  background-image: url(../../media/bubbles.jpeg);
  background-blend-mode: exclusion;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
